<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 20px 0;
    }

    th, td {
        padding: 15px;
    }
</style>

<h1>Users</h1>

<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <input type="text" formControlName="name" placeholder="Name" />
    <br />
    <input type="text" formControlName="surname" placeholder="Surname" />
    <br />
    <button type="submit">Add</button>
</form>

<ng-container *ngIf="users.length">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Balance</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <a [routerLink]="['/users/' + user.id]">{{user.id}}</a>
                </td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td *ngIf="user.balance">{{user.balance.value}} {{user.balance.currency}}</td>
            </tr>
        </tbody>
    </table>
</ng-container>

